@page
@model Intex.Pages.Burials.DetailsModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    static string GetPhoto()
    {
        var rand = new Random();
        var files = System.IO.Directory.GetFiles(@"wwwroot\images\Photos", "*.jpg");
        return files[rand.Next(files.Length)].Remove(files[rand.Next(files.Length)].IndexOf("wwwroot"), "wwwroot".Length);
    }
}

<!DOCTYPE html>

<html>

<!-- Bootstrap -->
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/css/style.css" rel="stylesheet">

<body style="background-color: white;">


    <!--===================================
    =            Store Section            =
    ====================================-->
    <section class="section bg-gray">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-8">
                    <div class="product-details">
                        <h1 class="product-title">@Model.Burial.BurialId</h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-undo"></i><a asp-page="./Index">Back to List</a></li>
                                @if ((await AuthorizationService.AuthorizeAsync(
                                   User, Model.Burial,
                                   BurialOperations.Update)).Succeeded)
                                {
                                    <li class="list-inline-item">
                                        <i class="fa fa-pencil"></i><a asp-page="./Edit" asp-route-id="@Model.Burial.BurialId">Edit</a>
                                    </li>

                                }
                            </ul>
                        </div>
                        <div id="carouselExampleIndicators" class="product-slider carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <img class="d-block w-100" src="@GetPhoto()">
                            </div>
                        </div>
                        <div class="content">

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Product Description</h3>
                                    <p>
                                        The skeletons and natural mummies (i.e. not the result of a professional mummification as used for royalty),
                                        seem to be common people; "The bodies have been well preserved, so the organs and remains are virtually complete.
                                        The preservation results from sealing in the moisture and the atmosphere of the burial spot." By 2014,
                                        roughly 1,000 bodies had been excavated at the site.
                                    </p>

                                    <iframe style="height: 300px;" width="100%" src="https://www.youtube.com/embed/PnAYasOXSWU?controls=0" frameborder="0" allowfullscreen></iframe>
                                    <p>
                                        In 1988, it was noted by the researchers that the graveyard contained an unexpected number of blondes
                                        amongst the naturally mummified bodies, as well as oddities in tooth decay amongst the buried; "Of those
                                        whose hair was preserved 54% were blondes or redheads, and the percentage grows to 87% when light-brown
                                        hair color is added". In 2014, it was revealed that burials seem to be clustered by hair-colour,
                                        those with red-hair are in one area, those with blonde hair in another.
                                    </p>
                                    <p>
                                        In an e-mail to Newsweek, Kerry Muhlestein explained "In a square that is 5 by 5 meters across and usually
                                        just over 2 meters deep, we will typically find about 40 burials. The cemetery is very large and so far seems
                                        to maintain that kind of burial density throughout. Thus, the math suggests that there are over a million mummies
                                        in the cemetery, though we cannot be certain of this without further exploration and a thorough academic review
                                        process."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">

                        <!-- User Profile widget -->
                        <div class="widget user">
                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Specifications</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BurialLocationNs)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BurialLocationNs)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BurialLocationEw)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BurialLocationEw)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.LowPairNs)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.LowPairNs)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.HighPairNs)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.HighPairNs)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.LowPairEw)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.LowPairEw)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.HighPairEw)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.HighPairEw)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BurialSubplot)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BurialSubplot)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BurialDepth)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BurialDepth)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SouthToHead)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SouthToHead)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SouthToFeet)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SouthToFeet)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.EastToHead)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.EastToHead)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.EastToFeet)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.EastToFeet)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.LengthOfRemains)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.LengthOfRemains)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BurialNumber)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BurialNumber)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SampleNumber)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SampleNumber)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.GenderGe)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.GenderGe)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.GeFunctionTotal)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.GeFunctionTotal)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.GenderBodyCol)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.GenderBodyCol)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BasilarSuture)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BasilarSuture)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.VentralArc)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.VentralArc)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SubpubicAngle)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SubpubicAngle)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SciaticNotch)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SciaticNotch)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.PubicBone)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.PubicBone)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.PreaurSulcus)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.PreaurSulcus)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.MedialIpRamus)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.MedialIpRamus)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.DorsalPitting)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.DorsalPitting)
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.Robust)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.Robust)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.SupraorbitalRidges)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.SupraorbitalRidges)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.OrbitEdge)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.OrbitEdge)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.ParietalBossing)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.ParietalBossing)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.Gonian)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.Gonian)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.NuchalCrest)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.NuchalCrest)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.ZygomaticCrest)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.ZygomaticCrest)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.CranialSuture)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.CranialSuture)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.MaximumCranialLength)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.MaximumCranialLength)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.MaximumCranialBreadth)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.MaximumCranialBreadth)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BasionBregmaHeight)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BasionBregmaHeight)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BasionNasion)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BasionNasion)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BasionProsthionLength)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BasionProsthionLength)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.BizygomaticDiameter)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.BizygomaticDiameter)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.NasionProsthion)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.NasionProsthion)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.MaximumNasalBreadth)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.MaximumNasalBreadth)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.InterorbitalBreadth)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.InterorbitalBreadth)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.ArtifactsDescription)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.ArtifactsDescription)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.HairColor)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.HairColor)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.PreservationIndex)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.PreservationIndex)
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Burial.Status)
                                            </td>
                                            <td class="col-sm-10">
                                                @Html.DisplayFor(model => model.Burial.Status)
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- Container End -->
    </section>


    @if (Model.Burial.Status != BurialStatus.Approved)
    {
        @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Burial, BurialOperations.Approve)).Succeeded)
        {
            <form style="display:inline;" method="post">
                <input type="hidden" name="id" value="@Model.Burial.BurialId" />
                <input type="hidden" name="status" value="@BurialStatus.Approved" />
                <button type="submit" class="btn btn-xs btn-success">Approve</button>
            </form>}
    }

    @if (Model.Burial.Status != BurialStatus.Rejected)
    {
        @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Burial, BurialOperations.Reject)).Succeeded)
        {
            <form style="display:inline;" method="post">
                <input type="hidden" name="id" value="@Model.Burial.BurialId" />
                <input type="hidden" name="status" value="@BurialStatus.Rejected" />
                <button type="submit" class="btn btn-xs btn-danger">Reject</button>
            </form>}
    }

</body>
</html>
