@page "{searchString?}"
@model Intex.Pages.Burials.DiscoveriesModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link href="~/css/discoveries.css" rel="stylesheet" />

<body style="margin: 10%; background-color: white;">
    <div class="container mt-5 pt-5">

        <a asp-page="./Discoveries">Clear Filters</a>

        <form asp-page="./Discoveries" method="get">
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Search Term" style="display: inline;" />

            <select name="Sex" style="display: inline;">
                <option value="">Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Undetermined">Undetermined</option>
            </select>

            <select name="HairColor" style="display: inline;">
                <option value="">Hair Color</option>
                <option value="Brown">Brown</option>
                <option value="Red">Red</option>
                <option value="Black">Black</option>
                <option value="Blonde">Blonde</option>
            </select>


            <select name="YearFound" style="display: inline;">
                <option value="">Year Found</option>
                <option value="1998">1998</option>
                <option value="2000">2000</option>
                <option value="2003">2003</option>
                <option value="2005">2005</option>
            </select>

            <select name="HeadDirection" style="display: inline;">
                <option value="">Head Direction</option>
                <option value="East">East</option>
                <option value="West">West</option>
            </select>

            <select name="ArtifactFound" style="display: inline;">
                <option value="">Artifact Found</option>
                <option value="TRUE">Yes</option>
                <option value="FALSE">No</option>
            </select>



            <input type="submit" value="Search" class="btn btn-primary" style="display: inline; float: right;"/>

        </form>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-page="./Discoveries" asp-route-sortOrder="@Model.NameSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Burial Name
                        </a>
                    </th>
                    <th>
                        South to Head
                    </th>
                    <th>
                        South to Feet
                    </th>
                    <th>
                        East to Head
                    </th>
                    <th>
                        East to Feet
                    </th>
                    <th>
                        <a asp-page="./Discoveries" asp-route-sortOrder="@Model.LengthSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            Length of Remains
                        </a>
                    </th>
                    <th>
                        Burial Depth
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Burial[0].Status)
                    </th>
                    <th>
                        <a asp-page="Create"><btn class="btn btn-primary">Create New</btn></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Burial)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SouthToHead)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SouthToFeet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EastToHead)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EastToFeet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LengthOfRemains)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialDepth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        @*The Edit and Delete links are only rendered for users with the appropriate permissions*@

                        <td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, item, BurialOperations.Update)).Succeeded)
                            {
                                <a asp-page="./Edit" asp-route-id="@item.BurialId">Edit</a>
                                <text> | </text>}
                            <a asp-page="./Details" asp-route-id="@item.BurialId">Details</a>

                            @if ((await AuthorizationService.AuthorizeAsync(User, item, BurialOperations.Delete)).Succeeded)
                            {
                                <text> | </text>
                                <a asp-page="./Delete" asp-route-id="@item.BurialId">Delete</a>}

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{ var prevDisabled = !Model.Burial.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Burial.HasNextPage ? "disabled" : ""; }

        <a asp-page="./Discoveries"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Burial.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="./Discoveries"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Burial.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>

</body>
</html>
