@page "{searchString?}"
@model Intex.Pages.Burials.IndexModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    static string GetPhoto()
    {
        var rand = new Random();
        var files = System.IO.Directory.GetFiles(@"wwwroot\images\Photos", "*.jpg");
        return files[rand.Next(files.Length)].Remove(files[rand.Next(files.Length)].IndexOf("wwwroot"), "wwwroot".Length);
    }

    ViewData["Title"] = "Featured Burials";
}

<!-- Bootstrap -->
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/css/style.css" rel="stylesheet">

<!DOCTYPE html>

<html>

<body>
    <div style="background-color: white; margin: 50px;">

        <section class="section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-sidebar">
                            <div class="widget category-list">

                                <form asp-page="./Index" method="get">

                                    <input type="text" name="SearchString" placeholder="Search Term" value="@Model.CurrentFilter" />

                                    <select name="Sex">
                                        <option value="">Sex</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Undetermined">Undetermined</option>
                                    </select>

                                    <select name="HairColor">
                                        <option value="">Hair Color</option>
                                        <option value="Brown">Brown</option>
                                        <option value="Red">Red</option>
                                        <option value="Black">Black</option>
                                        <option value="Blonde">Blonde</option>
                                    </select>


                                    <select name="YearFound">
                                        <option value="">Year Found</option>
                                        <option value="1998">1998</option>
                                        <option value="2000">2000</option>
                                        <option value="2003">2003</option>
                                        <option value="2005">2005</option>
                                    </select>

                                    <select name="HeadDirection">
                                        <option value="">Head Direction</option>
                                        <option value="East">East</option>
                                        <option value="West">West</option>
                                    </select>

                                    <select name="ArtifactFound">
                                        <option value="">Artifact Found</option>
                                        <option value="TRUE">Yes</option>
                                        <option value="FALSE">No</option>
                                    </select>

                                    <br />
                                    <br />

                                    <input type="submit" value="Search" class="btn btn-primary" />

                                    <br />
                                    <br />
                                    <a asp-page="./Index">Clear Filters</a>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="category-search-filter">

                            <p>Featured Burials</p>
                        </div>
                        <div class="product-grid-list">
                            <div class="row mt-30">
                                @foreach (var b in Model.Burial)
                                {
                                    <div class="col-sm-12 col-lg-4 col-md-6">
                                        <!-- product card -->
                                        <div class="product-item bg-light">
                                            <div class="card">
                                                <div class="thumb-content">
                                                    <!-- <div class="price">$200</div> -->
                                                    <a asp-page="./Details" asp-route-id="@b.BurialId">
                                                        <img class="card-img-top img-fluid" src="@GetPhoto()" alt="Card image cap">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title"><a asp-page="./Details" asp-route-id="@b.BurialId">@b.BurialId</a></h4>
                                                    <ul class="list-inline product-meta">
                                                        <li class="list-inline-item">
                                                            <a asp-page="./Details" asp-route-id="@b.BurialId"><i class="fa fa-venus-mars"></i>Sex: @b.GenderGe</a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a asp-page="./Details" asp-route-id="@b.BurialId">
                                                                <i class="fa fa-calendar"></i>
                                                                @if (b.DayFound == null)
                                                                {
                                                                    <a>Date: Not available</a>
                                                                }

                                                                else
                                                                {
                                                                    <a>Date: @b.DayFound @b.MonthFound, @b.YearFound</a>
                                                                }
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a asp-page="./Details" asp-route-id="@b.BurialId">
                                                                <i class="fa fa-user"></i>
                                                                @if (b.HairColor == null)
                                                                {
                                                                    <a>Hair color: Not available</a>
                                                                }

                                                                else
                                                                {
                                                                    <a>Hair color: @b.HairColor</a>
                                                                }

                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @if ((await AuthorizationService.AuthorizeAsync(User, b, BurialOperations.Update)).Succeeded)
                                                            {
                                                                <a asp-page="./Edit" asp-route-id="@b.BurialId">Edit</a>
                                                                <text> | </text>
                                                            }
                                                            <a asp-page="./Details" asp-route-id="@b.BurialId">Details</a>

                                                            @if ((await AuthorizationService.AuthorizeAsync(User, b, BurialOperations.Delete)).Succeeded)
                                                            {
                                                                <text> | </text>
                                                                <a asp-page="./Delete" asp-route-id="@b.BurialId">Delete</a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @{
                        var prevDisabled = !Model.Burial.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.Burial.HasNextPage ? "disabled" : "";
                    }

                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation example">
                            <a style="background-color: black; border: none;" asp-page="./Index"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-pageIndex="@(Model.Burial.PageIndex - 1)"
                               asp-route-currentFilter="@Model.CurrentFilter"
                               class="btn btn-primary @prevDisabled">
                                Previous
                            </a>
                            <a style="background-color: black; border: none;" asp-page="./Index"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-pageIndex="@(Model.Burial.PageIndex + 1)"
                               asp-route-currentFilter="@Model.CurrentFilter"
                               class="btn btn-primary @nextDisabled">
                                Next
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
    </div>
    </section>




    </div>
</body>
</html>
